target/
.idea/
*.class
*.log
*.iml
.DS_Store


open eclipse 
click on file > import > project from git >clone uri >give uri > choose any directory >
import existing Eclipse projects > finish 

open terminal > click on small blue - white box > choose local terminal > change the directory to your project directory >
> mvn clean 
>mvn install
>mvn package 
> mvn clean package (will create .jar file for )
after running it check for .jar file in the target folder 
you should get build succes in all
then right click on the project 
> run as > java Application > App > ok >proceed 
you should see Hello World ! in the console 


to run this maven project in jenkins :

click on new item 
give a name to the pipeline 
select discard old builds
add this as the pipeline script 
pipeline {
    agent any
    tools{
        jdk 'jdk11'
        maven 'maven3'
    }
    stages {
        stage('git repo & clean') {
            steps {
                bat "rmdir /s /q Harshitha_Jenkins_Maven || exit 0"
                bat "git clone https://github.com/ShivaniMudiga/MavenProject.git"
                bat "mvn clean -f MavenProject/pom.xml"
            }
        }
        stage('install') {
            steps {
                bat "mvn install -f MavenProject/pom.xml" 
            }
        }
        stage('test') {
            steps {
                bat "mvn test -f MavenProject/pom.xml"
            }
        }
        stage('package') {
            steps {
                bat "mvn package -f MavenProject/pom.xml"
            }
        }
    }
}

if build fails 
go to manage jenkins > tools
jdk installation add jdk name : jdkll select automatic imstallation
maven installation add maven name : maven3 select automatic installations



