target/
.idea/
*.class
*.log
*.iml
.DS_Store


open eclipse 
click on file > import > project from git >clone uri >give uri > choose any directory >
import existing Eclipse projects > finish 

open terminal > click on small blue - white box > choose local terminal > change the directory to your project directory >
> mvn clean 
>mvn install
>mvn package 
> mvn clean package (will create .jar file for )
after running it check for .jar file in the target folder 
you should get build succes in all
then right click on the project 
> run as > java Application > App > ok >proceed 
you should see Hello World ! in the console 


to run this maven project in jenkins :

click on new item 
give a name to the pipeline 
select discard old builds
add this as the pipeline script 
pipeline {
    agent any
    tools{
        jdk 'jdk11'
        maven 'maven3'
    }
    stages {
        stage('git repo & clean') {
            steps {
                bat "rmdir /s /q Harshitha_Jenkins_Maven || exit 0"
                bat "git clone https://github.com/ShivaniMudiga/MavenProject.git"
                bat "mvn clean -f MavenProject/pom.xml"
            }
        }
        stage('install') {
            steps {
                bat "mvn install -f MavenProject/pom.xml" 
            }
        }
        stage('test') {
            steps {
                bat "mvn test -f MavenProject/pom.xml"
            }
        }
        stage('package') {
            steps {
                bat "mvn package -f MavenProject/pom.xml"
            }
        }
    }
}

if build fails 
go to manage jenkins > tools
jdk installation add jdk name : jdkll select automatic imstallation
maven installation add maven name : maven3 select automatic installations




Nagios Automation Steps

docker pull jasonrivers/nagios:latest
docker run --name nagiosdemo -p 8888:80 jasonrivers/nagios:latest
Open your browser and navigate to:
http://localhost:8888

Login Credentials:
Username: nagiosadmin
Password: nagios

docker stop nagiosdemo
docker rm nagiosdemo

docker images
docker rmijasonrivers/nagios:latest



minikube start (start cluster)
minikube kubectl -- create deployment mynginx --image=nginx
minikube kubectl -- get pods / minikube kubectl -- get deployments
minikube kubectl -- expose deployment mynginx --type=NodePort --port=80
minikube service mynginx --url → open in browser (or use kubectl port-forward svc/mynginx 8081:80)
Update: kubectl set image deployment/mynginx nginx=nginx:latest
Scale: kubectl scale deployment mynginx --replicas=4
Debug: kubectl get pods, kubectl describe pods
Cleanup: kubectl delete deployment mynginx and kubectl delete service mynginx
(then optionally minikube stop or minikube delete)


to add webhooks to the jenkins pipeline 
NGROK
Get your auth token from dashboard.
Run in ngrok terminal:
ngrok config add-authtoken <your_token>
ngrok http 8888(copy url)
Open GitHub → Repo → Settings → Webhooks → Add Webhook
Payload URL:
https://your-ngrok-url/github-webhook/
Content type: application/json
Jenkins Dashboard → Select your job → Configure
Build Triggers → enable:
GitHub hook trigger for GITScm polling

---
GMAIL
Go to Security → App Passwords
App: Other
Name: Jenkins-Demo
Generate → copy 16-digit password.
Configure Jenkins Email Settings
Manage Jenkins → Configure System

A. Email Notification
SMTP Server: smtp.gmail.com
Use SMTP Auth: enabled
Username: sarvikashetty30@gmail.com
Password: 16-digit App Password
Use SSL: enabled
SMTP Port: 465
Reply-To: sarvikashetty30@gmail.com

B. Extended Email Notification
SMTP Server: smtp.gmail.com
SMTP Port: 465
Use SSL: enabled
Credentials: Gmail + App Password
Content type: text/html

Configure Job-level Email Notification
Job → Configure → Post-build Actions
Add: Editable Email Notification
Recipient list: somisettysarvika@gmail.com
Triggers:Always
---

Project Title: Gen AI in Education - Personalized Quiz and Content Generator 
Using LLM. 
• Abstract: This project develops an AI-based system that uses Large Language 
Models (LLMs) to generate personalized quizzes and tests from educational content. 
It adapts questions to each student’s learning level and performance, providing 
instant feedback and explanations. The system helps educators track progress and 
tailor instruction, enhancing learning outcomes through intelligent assessment. 
• Functional Requirements: 
a. User Registration & Authentication: Students, teachers, and admins can 
register and log in securely. 
b. Content Upload: Teachers can upload educational materials (PDFs, notes, 
transcripts). 
c. Content Processing: The system extracts key concepts from uploaded 
content using LLM. 
d. Personalized Quiz Generation: LLM generates quizzes tailored to each 
student’s learning profile and content. 
e. Quiz Attempt and Submission: Students can take quizzes and submit 
answers through the platform. 
f. 
Feedback Generation: The system provides instant feedback and 
explanations for each question. 
g. Performance Tracking: Student scores, accuracy, and progress are stored and 
visualized. 
h. Teacher Dashboard: Teachers can view student analytics and quiz content. 
i. 
Admin Controls: Admins can manage users, content repositories, and LLM 
configuration. 
j. 
LLM API Integration: The system connects to external LLM services (e.g., 
OpenAI API) for generational tasks. 
• Non-Functional Requirements: 
1. Usability: The interface should be user-friendly and intuitive for all users. 
2. Performance: Quiz generation time should be under 5 seconds. 
3. Scalability: The system should support 1,000+ concurrent users. 
4. Security: All data should be encrypted; authentication must be secure. 
5. Availability: The system should have at least 99.9% uptime. 
6. Maintainability: Codebase should be modular and well-documented for 
future updates. 
7. Compatibility: Must work on desktops, tablets, and smartphones. 
• Use Cases: 
1. User Registration and Login: Users (students, teachers, admins) create 
accounts and securely log in. 
2. Content Upload: Teachers upload educational materials such as PDFs, notes, 
and transcripts. 
3. Content Processing: The system processes uploaded content to extract key 
concepts using LLM. 
4. Personalized Quiz Generation: The system generates quizzes tailored to each 
student’s learning progress and content. 
5. Quiz Attempt: Students take personalized quizzes within the platform. 
6. Instant Feedback and Explanation: After quiz submission, students receive 
AI-generated feedback and detailed explanations. 
7. Performance Tracking: The system records student quiz scores and tracks 
progress over time. 
8. Teacher Analytics Dashboard: Teachers view student performance reports 
and quiz results. 
9. Quiz Review and Approval: Teachers can review and edit AI-generated 
quizzes before assigning them. 
10. User Management: Admins manage users, roles, and access permissions. 
11. System and LLM Configuration: Admins configure LLM settings and 
integration parameters.
